.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0 30px;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 600;
  background: #ff6600;
  font-size: 0.9167em;
  height: 42px;
  line-height: 42px;
  -webkit-border-radius: 21px 21px 21px 21px;
  -moz-border-radius: 21px 21px 21px 21px;
  -ms-border-radius: 21px 21px 21px 21px;
  border-radius: 21px 21px 21px 21px;
  margin-right: 5px;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  box-shadow: none;
  vertical-align: baseline;
}
